* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-height: 100vh;
  height: 100%;
  box-sizing: border-box;
}
body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(2, 0, 36, 1) 84%
  );
  font-family: "Amatic SC", cursive;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

/* .header {
  position: absolute;
  top: 3%;
  right: 2%;
} */

/* .image-block {
  width: 800px;
  height: 800px;
  position: absolute;
  z-index: 1;
} */

ul {
  list-style-type: none;
  font-size: 2rem;
}

ul div {
  padding: 3%;
  font-weight: 400;
}

ul h3 {
  text-decoration: underline;
  font-weight: 700;
  text-align: left;
  padding-left: 25px;
}
.container {
  width: 50rem;
  height: 30rem;
}
.card {
  perspective: 1500px;
  position: relative;
  height: 100%;
}

.card-side {
  /* background: rgba(255, 255, 255, 0.5); */
  border-radius: 3%;
  /* border: 2px solid white; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  text-align: center;
  transition: all 0.8s ease;
}
.card-side h1 {
  font-size: 20rem;
  letter-spacing: 40px;
}
.header {
  font-size: 3rem;
  text-decoration: underline;
}

.card-back {
  transform: rotateY(180deg);
  background-image: linear-gradient(to bottom right, #ff331f, #ff6152);
}
.card-front {
  height: 100%;
  /* background-color: lightblue; */
}
.card:hover .card-front {
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  transform: rotateY(0);
}
